<div ng-controller="GuestsController" class="panel panel-default">
    <!-- Panel Heading -->
    <div class="panel-heading">View Guests</div>
    <!-- Panel Body -->
    <div class="panel-body">
        <div class="col-sm-12"><p class="text-right">Filtered {{ filteredItems }} of {{ totalItems}} total customers</p></div>
            <!-- Filter Area -->
            <div class="row">
                <!-- Result Select -->
                <div class="col-md-2">
                    <form>
                        <legend>Guests</legend>
                        <select name="entries" ng-model="entryLimit" class="form-control">
                            <option>5</option>
                            <option>10</option>
                            <option>20</option>
                            <option>50</option>
                        </select>
                    </form>
                </div>
                <!-- Filters -->
                <div class="col-md-10">
                    <form>
                        <legend>Filter By Name</legend>
                        <div class="col-md-6">
                            <input type="text" name="firstName" ng-model="search.firstname" ng-change="filter()" placeholder="First Name" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <input type="text" name="lastName" ng-model="search.lastname" ng-change="filter()" placeholder="Last Name" class="form-control" />
                        </div>
                    </form>
                </div>
            </div>
            <br/>
            <!-- Data Table-->
            <div class="dataTable_wrapper table-responsive">
            <table class="table table-striped table-bordered table-hover table-responsive">
                <thead>
                    <tr>
                        <th ng-click='sort("firstname")'>First Name &nbsp;<i class="fa fa-arrows-v"></i></th>
                        <th ng-click='sort("middleinit")'>MI &nbsp;<i class="fa fa-arrows-v"></i></th>
                        <th ng-click='sort("lastname")'>Last Name &nbsp;<i class="fa fa-arrows-v"></i></th>
                        <th ng-click='sort("streetaddress")'>Street &nbsp;<i class="fa fa-arrows-v"></i></th>
                        <th ng-click='sort("city")'>City &nbsp;<i class="fa fa-arrows-v"></i></th>
                        <th ng-click='sort("state")'>State &nbsp;<i class="fa fa-arrows-v"></i></th>
                        <th ng-click='sort("zip")'>ZIP &nbsp;<i class="fa fa-arrows-v"></i></th>
                        <th ng-click='sort("phone")'>Phone &nbsp;<i class="fa fa-arrows-v"></i></th>
                        <th ng-click='sort("dob")'>DOB &nbsp;<i class="fa fa-arrows-v"></i></th>
                    </tr>
                </thead>
                <!-- If guests exists (per filters), show this -->
                <tbody ng-show="filteredItems > 0">
                    <tr ng-repeat="data in filtered = (list | filter:search | orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                        <td>{{data.firstname}}</a></td>
                        <td>{{data.middleinit}}</a></td>
                        <td>{{data.lastname}}</a></td>
                        <td>{{data.streetaddress}}</td>
                        <td>{{data.city}}</td>
                        <td>{{data.state}}</td>
                        <td>{{data.zip}}</td>
                        <td>{{data.phone}}</td>
                        <td>{{data.dob}}</td>
                    </tr>
                </tbody>
                <!-- Else ff no guests exists (per filters) show this -->
                <tbody ng-show="filteredItems == 0">
                    <tr><td colspan="8">No Guest Found</td></tr>
                </tbody>
            </table>
            <!-- Pagination -->
            <div class="col-sm-12">
            <pagination ng-model="currentPage" max-size="maxSize" total-items="filteredItems" items-per-page="entryLimit" boundary-links="false" rotate="false"></pagination>
            </div>
        </div><!-- /.dataTable-wrapper-->
    </div><!-- /.panel-body -->
</div><!-- /.panel -->