<h1>Maint</h1>
<div ng-controller="MaintController" class="panel panel-default">
    <!-- Panel Heading -->
    <div class="panel-heading">Maintenance</div>
    <!-- Panel Body -->
    <div class="panel-body">
        <div class="col-sm-12"><p class="text-right">Filtered {{ filteredItems }} of {{ totalItems}} total customers</p></div>
            <!-- Filter Area -->
            <div class="row">
                <!-- Result Select -->
                <div class="col-md-2">
                    <form>
                        <legend>Items</legend>
                        <select name="entries" ng-model="entryLimit" class="form-control">
                            <option>5</option>
                            <option>10</option>
                            <option>20</option>
                            <option>50</option>
                        </select>
                    </form>
                </div>
                <!-- Filters -->
                <div class="col-md-10">
                    <form>
                        <legend>Filter By Name</legend>
                        <div class="col-md-6">
                            <input type="text" name="firstName" ng-model="search.firstname" ng-change="filter()" placeholder="First Name" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <input type="text" name="lastName" ng-model="search.lastname" ng-change="filter()" placeholder="Last Name" class="form-control" />
                        </div>
                    </form>
                </div>
            </div>
            <br/>
            <!-- Data Table-->
        <div class="dataTable_wrapper table-responsive">
            <table class="table table-striped table-bordered table-hover table-responsive">
                <thead>
                    <tr>
                        <th ng-click='sort("MaintTicketID")'>Ticket ID &nbsp;<i class="fa fa-arrows-v"></i></th>
                        <th ng-click='sort("RoomID")'>Room ID &nbsp;<i class="fa fa-arrows-v"></i></th>
                        <th ng-click='sort("StartDate")'>Start Date &nbsp;<i class="fa fa-arrows-v"></i></th>
                        <th ng-click='sort("AnticipatedEndDate")'>Due By &nbsp;<i class="fa fa-arrows-v"></i></th>
                        <th ng-click='sort("MaintenanceType")'>Type &nbsp;<i class="fa fa-arrows-v"></i></th>
                    </tr>
                </thead>
                <!-- If guests exists (per filters), show this -->
                <tbody ng-show="filteredItems > 0">
                    <tr ng-repeat="data in filtered = (list | filter:search | orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                        <td ng-click="go('/guests/' + data.MaintTicketID)">{{data.MaintTicketID}}</a></td>
                        <td>{{data.RoomID}}</a></td>
                        <td>{{data.StartDate}}</a></td>
                        <td>{{data.AnticipatedEndDate}}</td>
                        <td>{{data.MaintenanceType}}</td>
                    </tr>
                </tbody>
                <!-- Else ff no guests exists (per filters) show this -->
                <tbody ng-show="filteredItems == 0">
                    <tr><td colspan="8">No Items Found</td></tr>
                </tbody>
            </table>
        </div><!-- /.dataTable-wrapper-->
    </div><!-- /.panel-body -->
</div><!-- /.panel -->