<h1>Check-In</h1>
<div class="panel panel-default">
    <!-- Panel Heading -->
    <div class="panel-heading">Todays Reservations</div>
    <!-- Panel Body -->
    <div class="panel-body">
            <table class="table table-striped table-bordered table-hover table-responsive">
                <thead>
                    <tr>
                        <th ng-click='sort("MaintTicketID")'>Name &nbsp;<i class="fa fa-arrows-v"></i></th>
                        <th ng-click='sort("RoomID")'>Event &nbsp;<i class="fa fa-arrows-v"></i></th>
                        <th ng-click='sort("StartDate")'>Check-In &nbsp;<i class="fa fa-arrows-v"></i></th>
                        <th ng-click='sort("AnticipatedEndDate")'>Check-Out &nbsp;<i class="fa fa-arrows-v"></i></th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
    </div><!-- /.panel-body -->
</div><!-- /.panel -->

<!-- New Guest, No Reservation -->
<div ng-controller="GuestsController" class="panel panel-default">
    <!-- Panel Heading -->
    <div class="panel-heading">Not Reserved</div>
    <!-- Panel Body -->
    <div class="panel-body">
    <!-- Search for existing guest -->
            <form class="col-md-12">
                <legend>Search Guests</legend>
                <div class="col-md-5">
                    <input type="text" name="FirstName" ng-model="formData.FirstName" placeholder="First Name" class="form-control" />
                </div>
                <div class="col-md-5">
                    <input type="text" name="LastName" ng-model="formData.LastName" placeholder="Last Name" class="form-control" />
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-primary pull-right" name="update" ng-click="searchGuests()">Search Guests</button>
                </div>
            </form>



            <table class="table table-striped table-bordered table-hover table-responsive" ng-show="searchItems > 0">
                <thead>
                    <tr>
                        <th ng-click='sort("CustomerID")'>ID &nbsp;<i class="fa fa-arrows-v"></i></th>
                        <th ng-click='sort("FirstName")'>First Name &nbsp;<i class="fa fa-arrows-v"></i></th>
                        <th ng-click='sort("LastName")'>Last Name &nbsp;<i class="fa fa-arrows-v"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in filtered = (searchResults | filter:search | orderBy : predicate :reverse) | startFrom:(currentPage-1)*searchLimit | limitTo:searchLimit">
                        <td ng-click="go('/checkin/' + data.CustomerID)">{{data.CustomerID}}</a></td>
                        <td ng-click="go('/checkin/' + data.CustomerID)">{{data.FirstName}}</td>
                        <td ng-click="go('/checkin/' + data.CustomerID)">{{data.LastName}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="col-sm-12" ng-show="searchItems > searchLimit">
                <pagination ng-model="currentPage" max-size="maxSize" total-items="searchItems" items-per-page="searchLimit" boundary-links="false" rotate="false"></pagination>
            </div>

            <!-- New Guest -->
            <form class="col-md-12">
                <legend>New Guest</legend>

                <div class="col-md-6">
                <label for="firstname">First Name: </label>
                    <input type="text" name="firstName" placeholder="First Name" class="form-control" />
                </div>
                <div class="col-md-6">
                    <label for="firstname">Last Name: </label>
                    <input type="text" name="lastName" placeholder="Last Name" class="form-control" />
                </div>
                <div class="col-md-12">
                    <label for="address1">Street Address: </label>
                    <input type="text" name="address1" placeholder="Street Address, Line 1" class="form-control" />
                    <input type="text" name="address2" placeholder="Street Address, Line 2" class="form-control" />
                </div>
                <div class="col-md-3">
                    <label for="city">City: </label>
                    <input type="text" name="city" placeholder="City" class="form-control" />
                </div>
                <div class="col-md-3">
                    <label for="state">State: </label>
                    <input type="text" name="state" placeholder="State" class="form-control" />
                </div>
                <div class="col-md-3">
                    <label for="zip">ZIP: </label>
                    <input type="text" name="zip" placeholder="Zip Code" class="form-control" />
                </div>
                <div class="col-md-3">
                    <label for="country">Country: </label>
                    <input type="text" name="country" placeholder="Country" class="form-control" />
                </div>
                <div class="col-md-6">
                    <label for="phone">Phone: </label>
                    <input type="text" name="phone" placeholder="Phone" class="form-control" />
                </div>
                <div class="col-md-6">
                    <label for="email">Email: </label>
                    <input type="text" name="email" placeholder="email" class="form-control" />
                </div>
            </form>
    </div><!-- /.panel-body -->
</div><!-- /.panel -->