<h1>Add New Guest</h1>
<hr>
<!-- Guest Info Panel -->
<div class="panel panel-default">
    <!-- Panel Heading -->
    <div class="panel-heading"><h3 class="panel-title">Guest Details</h3></div>
    <div class="panel-body">
    	<form class="clearfix">
        <legend>Personal Information</legend>
            <div class="col-xs-6 form-group">
            <label for="firstname">First Name: </label>
                <input type="text" name="firstName" placeholder="First Name" class="form-control" ng-model="guest.FirstName"/>
            </div>
            <div class="col-xs-6 form-group">
                <label for="firstname">Last Name: </label>
                <input type="text" name="lastName" placeholder="Last Name" class="form-control" ng-model="guest.LastName"/>
            </div>
            <div class="col-xs-12 form-group">
                <label for="address1">Street Address: </label>
                <input type="text" name="address1" placeholder="Street Address, Line 1" class="form-control" ng-model="guest.BillToAddress1"/>
            </div>
            <div class="col-xs-12 form-group">
            	<input type="text" name="address2" placeholder="Street Address, Line 2" class="form-control" ng-model="guest.BillToAddress2"/>
            </div>
            <div class="col-xs-12 col-sm-3 form-group">
                <label for="city">City: </label>
                <input type="text" name="city" placeholder="City" class="form-control" ng-model="guest.BillToCity"/>
            </div>
            <div class="col-xs-4 col-sm-3 form-group">
                <label for="state">State: </label>
                <input type="text" name="state" placeholder="State" class="form-control" ng-model="guest.BillToState"/>
            </div>
            <div class="col-xs-4 col-sm-3 form-group">
                <label for="zip">ZIP: </label>
                <input type="text" name="zip" placeholder="Zip Code" class="form-control" ng-model="guest.BillToZip"/>
            </div>
            <div class="col-xs-4 col-sm-3 form-group">
                <label for="country">Country: </label>
                <input type="text" name="country" placeholder="Country" class="form-control" ng-model="guest.BillToCountry"/>
            </div>
            <div class="col-xs-12 col-md-6 form-group">
                <label for="phone">Phone: </label>
                <input type="text" name="phone" placeholder="Phone" class="form-control" ng-model="guest.BillToPhone"/>
            </div>
        </form>

        <form class="clear-group clearfix">
            <legend>Payment Information</legend>
            <div class="col-xs-12 form-group">
            <label for="firstname">Name on Card: </label>
                <input type="text" name="cardName" placeholder="Name on Card" class="form-control"/>
            </div>
            <div class="col-md-6 form-group">
                <label for="cardnumber">Card Number: </label>
                <input type="text" name="cardnumber" placeholder="Last Name" class="form-control"/>
            </div>
            <div class="col-md-3 form-group">
                <label for="firstname">Card Type </label>
                <select name="cardtype" class="form-control"/>
                    <option value="visa">Visa</option>
                    <option value="visa">MasterCard</option>
                    <option value="visa">Discover</option>
                    <option value="visa">American Express</option>
                </select>
            </div>
            <div class="col-md-12 form-group">
                <label for="address1">Billing Address: </label>
                <input type="text" name="address1" placeholder="Street Address, Line 1" class="form-control"/>
            </div>
            <div class="col-md-12 form-group">
                <input type="text" name="address2" placeholder="Street Address, Line 2" class="form-control"/>
            </div>
            <div class="col-xs-6 col-sm-3 form-group">
                <label for="city">City: </label>
                <input type="text" name="city" placeholder="City" class="form-control"/>
            </div>
            <div class="col-xs-6 col-sm-3 form-group">
                <label for="state">State: </label>
                <input type="text" name="state" placeholder="State" class="form-control"/>
            </div>
            <div class="col-xs-6 col-sm-3 form-group">
                <label for="zip">ZIP: </label>
                <input type="text" name="zip" placeholder="Zip Code" class="form-control"/>
            </div>
            <div class="col-xs-6 col-sm-3 form-group">
                <label for="country">Country: </label>
                <input type="text" name="country" placeholder="Country" class="form-control"/>
            </div>
        </form>

        <div class="col-xs-12 form-group clear-group">
            <button type="button" class="pull-left btn btn-primary" name="update" ng-click="add()">Submit</button>
            <button type="button" class="pull-right btn btn-success" name="update" ng-click="addCheckIn()">Check In</button>
        </div>

    </div><!-- /.panel-body -->
</div><!-- /.panel -->