<h1>New Reservation</h1>
<hr>
<!-- Guest Search -->
<div class="panel panel-default">
    <!-- Panel Heading -->
    <div class="panel-heading"><h3 class="panel-title">Guest Search</h3></div>
    <!-- Panel Body -->
    <div class="panel-body">
        <!-- Search for existing guest -->
        <form class="clearfix">
            <div class="col-xs-12 col-sm-5 form-group">
                <input type="text" name="FirstName" ng-model="formData.FirstName" placeholder="First Name" class="form-control" />
            </div>
            <div class="col-xs-12 col-sm-5 form-group">
                <input type="text" name="LastName" ng-model="formData.LastName" placeholder="Last Name" class="form-control" />
            </div>
            <div class="col-sm-2 form-group">
                <button type="button" class="btn btn-primary pull-right" name="update" ng-click="searchGuests()">Search</button>
            </div>
        </form>
        <!-- Display Search Results -->
        <div class="table-responsive" ng-show="availRooms != null">
            <table class="table table-striped table-bordered table-hover table-responsive clearfix">
                <thead>
                    <tr>
                        <th ng-click='sort("RoomNumber")' class="pointer">Room Number &nbsp;<i class="fa fa-arrows-v"></i></th>
                        <th ng-click='sort("Beds")' class="pointer">Beds &nbsp;<i class="fa fa-arrows-v"></i></th>
                        <th ng-click='sort("Features")' class="pointer">Features &nbsp;<i class="fa fa-arrows-v"></i></th>
                        <th ng-click='sort("SmokingAllowed")' class="pointer">Smoking &nbsp;<i class="fa fa-arrows-v"></i></th>
                        <th ng-click='sort("BuildingName")' class="pointer">Building &nbsp;<i class="fa fa-arrows-v"></i></th>
                        <th ng-click='sort("WingName")' class="pointer">Wing &nbsp;<i class="fa fa-arrows-v"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in filtered = (availableRooms | filter:search | orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                        <td ng-click="go('/guests/' + data.CustomerID)">{{data.RoomNumber}}</a></td>
                        <td ng-click="go('/guests/' + data.CustomerID)">{{data.Beds}}</td>
                        <td ng-click="go('/guests/' + data.CustomerID)">{{data.Features}}</td>
                        <td ng-click="go('/guests/' + data.CustomerID)">{{data.SmokingAllowed}}</td>
                        <td ng-click="go('/guests/' + data.CustomerID)">{{data.BuildingName}}</td>
                        <td ng-click="go('/guests/' + data.CustomerID)">{{data.WingName}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<form ng-submit="addReservation()">
<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Personal Information</h3></div>
    <div class="panel-body">
            <div class="col-xs-6 form-group">
                <input type="text" name="firstName" placeholder="First Name" class="form-control" ng-model="guest.FirstName" required/>
            </div>
            <div class="col-xs-6 form-group">
                <input type="text" name="lastName" placeholder="Last Name" class="form-control" ng-model="guest.LastName" required/>
            </div>
            <div class="col-xs-12 form-group">
                <input type="text" name="address1" placeholder="Street Address, Line 1" class="form-control" ng-model="guest.BillToAddress1" required/>
            </div>
            <div class="col-xs-12 form-group">
                <input type="text" name="address2" placeholder="Street Address, Line 2" class="form-control" ng-model="guest.BillToAddress2"/>
            </div>
            <div class="col-xs-12 col-sm-3 form-group">
                <input type="text" name="city" placeholder="City" class="form-control" ng-model="guest.BillToCity" required/>
            </div>
            <div class="col-xs-4 col-sm-3 form-group">
                <input type="text" name="state" placeholder="State" class="form-control" ng-model="guest.BillToState" required/>
            </div>
            <div class="col-xs-4 col-sm-3 form-group">
                <input type="text" name="zip" placeholder="Zip Code" class="form-control" ng-model="guest.BillToZip" required/>
            </div>
            <div class="col-xs-4 col-sm-3 form-group">
                <input type="text" name="country" placeholder="Country" class="form-control" ng-model="guest.BillToCountry" required/>
            </div>
            <div class="col-xs-12 col-md-6 form-group">
                <input type="text" name="phone" placeholder="Phone" class="form-control" ng-model="guest.BillToPhoneNum" required/>
            </div>

            <div class="col-xs-12 form-group">
                <input type="text" class="hidden" ng-model="guest.CustomerID">
                <button class="btn btn-primary pull-right" ng-click="updatePersonalInfo()">Update Personal Information</button>
            </div>
            <div class="form-group col-xs-12" ng-show="updateSuccess == true"><div class="alert alert-success"><p>Update Successful</p></div></div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Room Options</h3></div>
    <div class="panel-body">
            <div class="form-group col-xs-6 col-md-3">
                <input class="form-control datepicker" type="text" ng-model="reservation.startdate" placeholder="Check In" ui-date ui-date-format="yy-mm-dd" required>
            </div>
            <div class="form-group col-xs-6 col-md-3">
                <input class="form-control datepicker" type="text" ng-model="reservation.enddate" placeholder="Check Out" ui-date ui-date-format="yy-mm-dd" required>
            </div>
            <div class="form-group col-xs-6 col-md-3">
                <select class="form-control" ng-model="reservation.roomtype" required>
                    <option value="" selected>Room Type</option>
                    <option value="15" selected>Sleeping Room</option>
                    <option value="16">Meeting Room</option>
                    <option value="17">Suite</option>
                </select>
            </div>
            <div class="form-group col-xs-6 col-md-3">
                <select class="form-control" ng-model="reservation.smoking" required>
                    <option value="" selected>Smoking Pref</option>
                    <option value="0" selected>Non-Smoking</option>
                    <option value="1">Smoking</option>
                </select>
            </div>
            <div class="form-group col-xs-12 col-md-6">
                <select class="form-control" ng-model="reservation.eventID" ng-options="event.id as event.name for event in events">
                <option value="" selected>Event</option>
                </select>
            </div>
            <div class="form-group col-xs-12 col-md-6">
                <select class="form-control" ng-model="reservation.capacity">
                    <option value="" selected>Capacity</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="5">3-5</option>
                    <option value="10">6-10</option>
                    <option value="25">11-25</option>
                    <option value="75">26-75</option>
                    <option value="76">76+</option>
                </select>
            </div>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Payment Information</h3></div>
    <div class="panel-body">
            <div class="col-md-12 form-group">
                <input type="text" name="cardName" placeholder="Name on Card" class="form-control" ng-model="reservation.cardName" required/>
            </div>
            <div class="col-md-6 form-group">
                <input type="text" name="cardnumber" placeholder="Card Number" class="form-control" ng-model="reservation.cardNumber" required/>
            </div>
            <div class="col-md-3 form-group">
                <select class="form-control" ng-model="reservation.cardType" required>
                    <option value="" disabled selected>Card Type</option>
                    <option value="discover">Discover</option>
                    <option value="visa">Visa</option>
                    <option value="mastercard">Mastercard</option>
                    <option value="american express">American Express</option>
                </select>
            </div>
            </div>
    </div>
</div>

<div class="col-xs-12 form-group">
   <input type="submit" class="btn btn-lg btn-success pull-right" value="Submit Reservation">
</div>
</form>
<div class="form-group col-xs-12" ng-show="submitReservationError == true"><div class="alert alert-danger"><p>Something Went Wrong! Reservation Not Submitted</p></div></div>
<div class="form-group col-xs-12" ng-show="submitReservationSuccess == true"><div class="alert alert-success"><p>Reservation Successfully Created</p></div></div>