<h1>sandbox template</h1>

<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Available Rooms</h3></div>
    <div class="panel-body">
	<form ng-submit="searchRooms()" class="clearfix">
		<div class="form-group col-xs-4 col-md-2">
			<input class="form-control datepicker" type="text" ng-model="roomForm.pstartdate" placeholder="Check In" ui-date ui-date-format="yy-mm-dd" required>
		</div>
		<div class="form-group col-xs-4 col-md-2">
			<input class="form-control datepicker" type="text" ng-model="roomForm.penddate" placeholder="Check Out" ui-date ui-date-format="yy-mm-dd" required>
		</div>
		<div class="form-group col-xs-4 col-md-2">
			<select class="form-control" ng-model="roomForm.proomtype" required>
				<option value="" disabled selected>Room Type</option>
				<option value="15">Sleeping Room</option>
				<option value="16">Meeting Room</option>
				<option value="17">Suite</option>
			</select>
		</div>
		<div class="form-group col-xs-4 col-md-2">
			<select class="form-control" ng-model="roomForm.psmoking" required>
				<option value="" disabled selected>Smoking</option>
				<option value="0">Non-Smoking</option>
				<option value="1">Smoking</option>
			</select>
		</div>
		<div class="col-xs-4 col-md-2 form-group">
                <input type="submit" class="btn btn-primary pull-left" name="update" value="Submit">
         </div>
	</form>

	<div class="form-group col-lg-12">
		<input type="text" class="form-control" ng-model="search" placeholder="Filter Results">
	</div>



<div class="table-responsive" ng-show="availableRooms != null">
    <table class="table table-striped table-bordered table-hover table-responsive clearfix">
            <thead>
                <tr>
                    <th ng-click='sort("RoomNumber")' class="pointer">Room Number &nbsp;<i class="fa fa-arrows-v"></i></th>
                    <th ng-click='sort("Beds")' class="pointer">Beds &nbsp;<i class="fa fa-arrows-v"></i></th>
                    <th ng-click='sort("Features")' class="pointer">Features &nbsp;<i class="fa fa-arrows-v"></i></th>
                    <th ng-click='sort("SmokingAllowed")' class="pointer">Smoking &nbsp;<i class="fa fa-arrows-v"></i></th>
                    <th ng-click='sort("BuildingName")' class="pointer">Building &nbsp;<i class="fa fa-arrows-v"></i></th>
                    <th ng-click='sort("WingName")' class="pointer">Wing &nbsp;<i class="fa fa-arrows-v"></i></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="data in filtered = (availableRooms | filter:search | orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                    <td ng-click="go('/guests/' + data.CustomerID)">{{data.RoomNumber}}</a></td>
                    <td ng-click="go('/guests/' + data.CustomerID)">{{data.Beds}}</td>
                    <td ng-click="go('/guests/' + data.CustomerID)">{{data.Features}}</td>
                    <td ng-click="go('/guests/' + data.CustomerID)">{{data.SmokingAllowed}}</td>
                    <td ng-click="go('/guests/' + data.CustomerID)">{{data.BuildingName}}</td>
                    <td ng-click="go('/guests/' + data.CustomerID)">{{data.WingName}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="form-group lg-col-12" ng-show="filteredItems > entryLimit">
        <pagination ng-model="currentPage" max-size="maxSize" total-items="filteredItems" items-per-page="entryLimit" boundary-links="false" rotate="false"></pagination>
    </div>
</div>
</div>